@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap');

:root {
    --color-primary: #12ADC1;
    --color-dark: #0295a9;
    --color-light: #FFF;
    --color-secondary: #FDD037;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
}

main {
    background-color: var(--color-light);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
    text-transform: uppercase;
    margin: -20px 0;
}
.subtitle {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--color-secondary);
}
.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.text-title {
    font-weight: bold;
    color: var(--color-primary);
    align-self: start;
}
#text {
    height: 7rem;
    width: 20rem;
    border: none;
    outline: 2px solid var(--color-secondary);
    border-radius: 0.5rem;
    resize: none;
    font-size: 15px;
    padding: 8px 10px;
}
.voice-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.voice-title {
    font-weight: bold;
    color: var(--color-primary);
    align-self: start;
}
#voice {
    height: 3rem;
    width: 20rem;
    border: none;
    outline: 2px solid var(--color-secondary);
    border-radius: 0.5rem;
    padding: 0px 10px;
}
.submit {
    background-color: var(--color-secondary);
    color: var(--color-light);
    width: 20rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.submit:hover {
    box-shadow: 1px 1px 0px 0px var(--color-primary);
}

@media screen and (max-width:500px) {
    main {
        width: 300px;
    }
    .title {
        font-size: 1.2rem;
        /* margin: 10px 0; */
    }
    .subtitle {
        font-size: 1rem;
    }
    #text {
        width: 15rem;
        padding: 4px 5px;
    }
    #voice {
        width: 15rem;
        padding: 0px 5px;
    }
    .submit {
        width: 15rem;
        font-size: 1rem;
    }
}